
.game-setting-background {
    background-color: rgba(55, 59, 63, 0.596);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}

.game-setting-container {
    max-width: 50rem;
    width: 100%;
    border: rgb(51 65 85 / 0.5) solid 1px;
    border-radius: 10px;
    padding: 15px;
    background-color: #0f172a;
}

.game-setting-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
    height: 30px;
}

.bet-amount-container {
    font-size: 1.4rem;
}

.bet-amount-btn-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.btn-amount {
    background-color: #334155;
    border-radius: 5px;
    color: white;
    padding: 5px 10px 5px 10px;
}

.custom-bet-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 1rem 0 1rem 0;
}

input[type='number'] {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(51 65 85 / var(--tw-border-opacity, 1));
    height: 2.5rem;
    margin: 0 0 0 0;
    background-color: #1e293b;
}

.add-player {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 1rem;
}

input[type='text'] {
    flex: 1 1 0%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(51 65 85 / var(--tw-border-opacity, 1));
    height: 2.5rem;
    background-color: #1e293b;
}

.btn-add-player {
    background-color: #10b981;
    border-radius: 5px;
    color: white;
    padding: 5px 10px 5px 10px;
}

.list-player-container {
    margin-top: 10px;
    max-height: 15rem;
    overflow-y: auto;
}

.player-active {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(51 65 85 / 0.5);
    padding: 5px 10px;
    background-color: #162033;
    font-size: 1.5rem;
}
